body {
	width: 900px;
	overflow-y: scroll;
	background: url("images/brick02.png");
	line-height: 1.5;
	margin: 10px auto;
	font-family: Calibri, sans-serif;
	font-size: 10pt;
	-webkit-text-size-adjust: none; }

a { color: #B1ECF4; }
h1, h2, h3, h4, h5, h6 { font-family: Verdana, sans-serif; }
h2 { margin: 0; border-bottom: 3px solid #8C898D; }
h1 { margin: 10px 0; text-align: center; }
td { vertical-align: top; }
audio { display: block; margin: auto; }

.layout-table {
	width: 900px;
	background: url("images/poster.png");
	background-repeat: no-repeat;
	padding: 115px 100px;
	color: white; }

.audio { width: 900px; }
.sidebar { width: 30%; text-align: center; padding-top: 10px; }
.main { padding: 10px 10px 0 10px; }
.screens { margin: auto; }
.header { border-bottom: 5px solid #8C898D; padding: 5px; }
.footer { border-top: 5px solid #8C898D; padding: 10px 10px 0 10px; }
.screens img, .main img { border: 3px solid #8C898D; }
.avatar { display: block; margin: auto; }